<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Three.js playground</title>
</head>

<body>
    <pre id="debug"></pre>
    <canvas id="webgl"></canvas>
</body>

</html>